@model SaatSatisSitesi.Models.User

<h1>Kullanıcıyı Sil</h1>
<p>Ad: @Model.Name</p>
<p>Email: @Model.Email</p>
<form method="post">
    <button type="submit">Sil</button>
    <a href="/Users">İptal</a>
</form>
